.container {
  height: 88vh;
}

.card {
  min-height: 84vh;
  width: 92vw;
  margin-left: -4vw !important;
  margin-top: 2.5vh !important;
  margin-bottom: 18vh !important;
}

.card-container {
  display: flex;
  justify-content: space-between;
  min-height: 81.5vh;
}

.wrap {
  width: 90vw;
  padding-right: 2vw;
  padding-left: 2vw;
  min-height: inherit;
}

.text-title {
  margin-top: 1.5vh;
  font-size: 3.45vh;
  line-height: 40px;
  font-family: "proxima-nova-bold";
  margin-bottom: 1.5vh !important;
}

.employee-list-delegate-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.search-input {
  height: 50px;
  padding-left: 8px;
  padding: auto;
  width: 95%;
  overflow-x: hidden !important;
}

.input {
  width: 21vw;

  font-family: "proxima-nova";
  margin-top: 3px;
  border-top: none !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background: none !important;
}

.button-container {
  display: grid;
}

.buttons {
  height: 6vh;
  font-family: "proxima-nova";
  min-width: 6vw;
}

.sendButton {
  height: 6vh;
  margin-top: 3vh;
  background-color: #272829;
}

.delegateBtn {
  background-color: #272829;
  margin: auto;
}

.mat-icon.buttonIcon {
  font-size: 22px;
  vertical-align: middle;
  margin-right: 8px;
}

.assessIcon {
  margin-left: -5px;
  margin-right: -5px;
}

.delegation-list-container {
  margin-top: 1vh;
  width: 34%;
  display: flex;
  justify-content: space-between;

}


.table-tab-container {
  margin-top: 6vh;
  width: 100%;

}

#skillHistoryTable {
  width: 83vw;
  min-height: 10vh;
  margin-top: 10px;
  margin-left: 9px;
  overflow-y: hidden;
}

.mat-column-name,
.mat-column-level {
  width: 15%;
}

.mat-column-comments {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 35% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 8px 8px 8px 8px !important;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-NoActionscomments {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 45% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 8px 8px 8px 8px !important;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

th.mat-header-cell {
  color: black;
  font-weight: bold;
  word-wrap: break-word;
  word-break: break-all;
}

td.mat-cell {
  word-wrap: break-word;
  word-break: break-all;
}

.mat-cell,
.mat-header-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-actions {
  width: 12%;
}

.table {
  height: inherit;

  //   overflow-x: hidden;
}

.hide-columns {
  display: none !important;
  opacity: 0;
}

.mat-paginator-sticky {
  bottom: 0;
  position: sticky;
  z-index: 10;
}

.green-icon {
  color: greenl
}

th {
  background-color: white;
  position: fixed;
}

.accent-border-left {
  background-color: #e13616;
  height: 30vh;
  width: 5px;
  margin-top: auto;
}

.accent-border-right {
  background-color: #e13616;
  height: 30vh;
  width: 5px;
}

.card-image {
  width: 32%;
  height: 32%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  margin-bottom: 7.5vh;


}

.paragraph-text {
  z-index: 1000;
  margin-left: 30vw;
  margin-top: -25vh;
  margin-bottom: 17vh;
}

::ng-deep .mat-tab-body-content {
  height: inherit !important;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: rgb(255, 54, 22) !important;
}
