
.mat-icon:hover {
  color: red;
}

.close-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  float: right;
  vertical-align: text-bottom;
}

.mat-dialog-actions {
  float: right;
  margin-top: 15px;
}

.delete-btn {
  background: #F44336;
  color: white;
}

.text-input {
  width: 100%;
  height: 10vh;
}
