<form [formGroup]="addNewAssessmentSkill" novalidate>
  <div class="form-container">
    <div class="form-container-inputs">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Skill</mat-label>
        <mat-select formControlName="skillNameValidation" [(ngModel)]="skillHistory.skillId"
                    (selectionChange)="populateDescCategDomainField($event)">
          <input class="search-input" (keyup)="skillOnKeyUp($event)" [ngModelOptions]="{standalone: true}" matInput
                 rows="2"
                 [(ngModel)]="searchValueSkill" matInput placeholder="Search...">
          <mat-option *ngFor="let skill of skillNameList" [value]="skill.id"> {{skill.name | titlecase}}</mat-option>
        </mat-select>
        <mat-error *ngIf="addNewAssessmentSkill.invalid">Skill is invalid</mat-error>
      </mat-form-field>

      <mat-form-field class="text-input" appearance="fill">
        <mat-label>Skill Description</mat-label>
        <textarea class="text-input" matInput rows="1.5" style="resize: none" placeholder=""
                  [(ngModel)]="skillHistory.skillDescription"
                  [disabled]="true" formControlName="skillDescription"></textarea>
        <mat-error>Skill description is required</mat-error>
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Skill Level</mat-label>
        <mat-select formControlName="skillLevelValidation" [(ngModel)]="skillHistory.skillLevel">
          <mat-option *ngFor="let skillLevel of skillLevelList" [value]="skillLevel.enumName">{{
            skillLevel.label|
              titlecase }}</mat-option>
        </mat-select>
        <mat-error>Skill level is required</mat-error>
      </mat-form-field>

      <mat-form-field class="text-input" appearance="fill">
        <mat-label>Comments<i>(Optional)</i></mat-label>
        <textarea class="text-input" matInput rows="1.5" style="resize: none" placeholder=""
                  formControlName="skillComments" [(ngModel)]="skillHistory.comments"></textarea>
      </mat-form-field>
    </div>
    <div class="form-container-deleteBtn">
      <button *ngIf="showDeleteButton" class="delete-button" mat-icon-button color="warn"
              (click)="deleteSkillHistory()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </div>
</form>
